@using System.Collections


@{
    ViewBag.Title = "Home Page";
}

@*@foreach (var item in ViewBag.TProduct)*@
@*{*@
@*    <div class='col-md-3 col-sm-6 col-xs-12' style="width: 260px; height: 380px; ">*@
@*        <div class="category-box border-1 wow fadeInUpQuick animated" data-wow-delay="0.3s" style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; ">*@
@*            <ul>*@
@*                <li>*@
@*                    <img src=@item.Screenshot style="height: 250px;width: 230px; padding: 5px;border-radius:10px" />*@
@*                </li>*@
@*                <li>*@
@*                    <h4 style="color: #0d47a1;padding: 5px">@item.Title</h4>*@
@*                </li>*@
@*                <li>*@
@*                    <h5 style="color: #3a3a3a;padding: 5px">@item.Category / @item.SubCategory</h5>*@
@*                </li>*@
@*                <li>*@
@*                    $1$                    <a style="color: #676767;padding: 5px">@item.CreateDate</a>#1#*@
@*                    <span class="category-counter" style="color: #000000; font-size: 25px; ">@item.Price $</span>*@
@*                </li>*@
@*                <li>*@
@*                <li><a href="@Url.Action("Details","ProductCode", new { id=item.ID })">Details</a></li>*@
@*                <li><a href="@Url.Action("OrderNow","ShoppingCart", new { id=item.ID })">Order Now</a></li>*@
@**@
@*            </ul>*@
@*        </div>*@
@*    </div>*@
@**@
@**@
@*}*@

<h2 style="padding-left: 20px"> Featured Code Products</h2>
<hr />
<div class="row" style="margin-bottom: 30px">
    <div class="owl-carousel owl-theme">
        @foreach (var item in ViewBag.TProduct)
        { 
            <div class="item">
                <div class="col-xs-12  col-md-12 box" style="padding: 0 !important; margin-left: 20px; margin-bottom: 30px">
                    <div class="detailsP">
                        <div class="showLearn">
                            <a href="@Url.Action("Details","Product", new { id=item.ID })" class="btn btn-primary laksLearnMore">Learn More</a>
                            <a href="@Url.Action("OrderNow","ShoppingCart", new { id=item.ID })" class="laksLearnMore2"><i class="fa fa-shopping-cart fa-3x" style="color: #207499; float: right"></i></a>
                        </div>
                        <a href="@Url.Action("Details","Product", new { id=item.ID })"><img src="http://lorempixel.com/145/205/" class="img-responsive deneme" /></a>
                    </div>

                    <div class="laksProductDetails">
                        <a href="#" class="laksProductTitle">@item.Title</a>
                        <p class="laksProductPrice">
                            $ @item.Price <a href="@Url.Action("OrderNow","ShoppingCart", new { id=item.ID })"><i class="fa fa-shopping-cart" style="color: #207499; float: right"></i></a>
                        </p>
                    </div>
                </div>
            </div>
        } 
        

        @*        <div class="item">*@
        @*            <div class="col-xs-12  col-md-12 box" style="padding: 0 !important; margin-left: 20px; margin-bottom: 30px">*@
        @*                <div class="detailsP">*@
        @*                    <div class="showLearn">*@
        @*                        <a href="#" class="btn btn-primary laksLearnMore">Learn More</a>*@
        @*                        <a href="#" class="laksLearnMore2"><i class="fa fa-shopping-cart fa-3x" style="color: #207499; float: right"></i></a>*@
        @*                    </div>*@
        @*                    <a href="#"><img src="https://eaassets-a.akamaihd.net/origin-com-store-final-assets-prod/190134/231.0x326.0/1030900_LB_231x326_en_US_%5E_2015-06-09-16-57-20_b530ed3ed0ff42213dbd5ac4f41427325c8a3096.jpg" class="img-responsive deneme" /></a>*@
        @*                </div>*@
        @**@
        @*                <div class="laksProductDetails">*@
        @*                    <a href="#" class="laksProductTitle">Battlefield 1</a>*@
        @*                    <p class="laksProductPrice">*@
        @*                        $ 29.99 <a href="#"><i class="fa fa-shopping-cart" style="color: #207499; float: right"></i></a>*@
        @*                    </p>*@
        @*                </div>*@
        @*            </div>*@
        @*        </div>*@
        @*        <div class="item">*@
        @*            <div class="col-xs-12  col-md-12 box" style="padding: 0 !important; margin-left: 20px; margin-bottom: 30px">*@
        @*                <div class="detailsP">*@
        @*                    <div class="showLearn">*@
        @*                        <a href="#" class="btn btn-primary laksLearnMore">Learn More</a>*@
        @*                        <a href="#" class="laksLearnMore2"><i class="fa fa-shopping-cart fa-3x" style="color: #207499; float: right"></i></a>*@
        @*                    </div>*@
        @*                    <a href="#"><img src="https://eaassets-a.akamaihd.net/origin-com-store-final-assets-prod/74889/231.0x326.0/1019025_LB_231x326_en_US_%5E_2016-09-09-18-10-26_834d4754eb4e81553bc3b69a4b60a79b154cfaa3.jpg" class="img-responsive deneme" /></a>*@
        @*                </div>*@
        @**@
        @*                <div class="laksProductDetails">*@
        @*                    <a href="#" class="laksProductTitle">Battlefield 1</a>*@
        @*                    <p class="laksProductPrice">*@
        @*                        $ 29.99 <a href="#"><i class="fa fa-shopping-cart" style="color: #207499; float: right"></i></a>*@
        @*                    </p>*@
        @*                </div>*@
        @*            </div>*@
        @*        </div>*@
        @*        <div class="item">*@
        @*            <div class="col-xs-12  col-md-12 box" style="padding: 0 !important; margin-left: 20px; margin-bottom: 30px">*@
        @*                <div class="detailsP">*@
        @*                    <div class="showLearn">*@
        @*                        <a href="#" class="btn btn-primary laksLearnMore">Learn More</a>*@
        @*                        <a href="#" class="laksLearnMore2"><i class="fa fa-shopping-cart fa-3x" style="color: #207499; float: right"></i></a>*@
        @*                    </div>*@
        @*                    <a href="#"><img src="https://eaassets-a.akamaihd.net/origin-com-store-final-assets-prod/185353/231.0x326.0/1024486_LB_231x326_en_US_%5E_2015-08-04-10-45-42_0f314b68e981580a1416ef0d36679e0b0608e560.jpg" class="img-responsive deneme" /></a>*@
        @*                </div>*@
        @**@
        @*                <div class="laksProductDetails">*@
        @*                    <a href="#" class="laksProductTitle">Battlefield 1</a>*@
        @*                    <p class="laksProductPrice">*@
        @*                        $ 29.99 <a href="#"><i class="fa fa-shopping-cart" style="color: #207499; float: right"></i></a>*@
        @*                    </p>*@
        @*                </div>*@
        @*            </div>*@
        @*        </div>*@
        @*        <div class="item">*@
        @*            <div class="col-xs-12  col-md-12 box" style="padding: 0 !important; margin-left: 20px; margin-bottom: 30px">*@
        @*                <div class="detailsP">*@
        @*                    <div class="showLearn">*@
        @*                        <a href="#" class="btn btn-primary laksLearnMore">Learn More</a>*@
        @*                        <a href="#" class="laksLearnMore2"><i class="fa fa-shopping-cart fa-3x" style="color: #207499; float: right"></i></a>*@
        @*                    </div>*@
        @*                    <a href="#"><img src="https://eaassets-a.akamaihd.net/origin-com-store-final-assets-prod/182633/231.0x326.0/1038862_LB_231x326_en_US_%5E_2016-07-21-10-11-54_1b27093a8723b707c8433a4aafc9203fd660d669.jpg" class="img-responsive deneme" /></a>*@
        @*                </div>*@
        @**@
        @*                <div class="laksProductDetails">*@
        @*                    <a href="#" class="laksProductTitle">Battlefield 1</a>*@
        @*                    <p class="laksProductPrice">*@
        @*                        $ 29.99 <a href="#"><i class="fa fa-shopping-cart" style="color: #207499; float: right"></i></a>*@
        @*                    </p>*@
        @*                </div>*@
        @*            </div>*@
        @*        </div>*@
        @*        <div class="item">*@
        @*            <div class="col-xs-12  col-md-12 box" style="padding: 0 !important; margin-left: 20px; margin-bottom: 30px">*@
        @*                <div class="detailsP">*@
        @*                    <div class="showLearn">*@
        @*                        <a href="#" class="btn btn-primary laksLearnMore">Learn More</a>*@
        @*                        <a href="#" class="laksLearnMore2"><i class="fa fa-shopping-cart fa-3x" style="color: #207499; float: right"></i></a>*@
        @*                    </div>*@
        @*                    <a href="#"><img src="https://eaassets-a.akamaihd.net/origin-com-store-final-assets-prod/192492/231.0x326.0/1027088_LB_231x326_en_US_%5E_2016-05-08-23-09-52_c3dde8a110b9712b6da6222ed5841d531410eb21.jpg" class="img-responsive deneme" /></a>*@
        @*                </div>*@
        @**@
        @*                <div class="laksProductDetails">*@
        @*                    <a href="#" class="laksProductTitle">Battlefield 1</a>*@
        @*                    <p class="laksProductPrice">*@
        @*                        $ 29.99 <a href="#"><i class="fa fa-shopping-cart" style="color: #207499; float: right"></i></a>*@
        @*                    </p>*@
        @*                </div>*@
        @*            </div>*@
        @*        </div>*@
        @*        <div class="item">*@
        @*            <div class="col-xs-12  col-md-12 box" style="padding: 0 !important; margin-left: 20px; margin-bottom: 30px">*@
        @*                <div class="detailsP">*@
        @*                    <div class="showLearn">*@
        @*                        <a href="#" class="btn btn-primary laksLearnMore">Learn More</a>*@
        @*                        <a href="#" class="laksLearnMore2"><i class="fa fa-shopping-cart fa-3x" style="color: #207499; float: right"></i></a>*@
        @*                    </div>*@
        @*                    <a href="#"><img src="https://eaassets-a.akamaihd.net/content.ts4/images/55482/231.0x326.0/1031929_LB_231x326_en_GB_%5E_2017-01-03-21-23-24_6e022d778a9abf972571289cad1cf0709fa673b3.png" class="img-responsive deneme" /></a>*@
        @*                </div>*@
        @**@
        @*                <div class="laksProductDetails">*@
        @*                    <a href="#" class="laksProductTitle">Battlefield 1</a>*@
        @*                    <p class="laksProductPrice">*@
        @*                        $ 29.99 <a href="#"><i class="fa fa-shopping-cart" style="color: #207499; float: right"></i></a>*@
        @*                    </p>*@
        @*                </div>*@
        @*            </div>*@
        @*        </div>*@
        @*        <div class="item">*@
        @*            <div class="col-xs-12  col-md-12 box" style="padding: 0 !important; margin-left: 20px; margin-bottom: 30px">*@
        @*                <div class="detailsP">*@
        @*                    <div class="showLearn">*@
        @*                        <a href="#" class="btn btn-primary laksLearnMore">Learn More</a>*@
        @*                        <a href="#" class="laksLearnMore2"><i class="fa fa-shopping-cart fa-3x" style="color: #207499; float: right"></i></a>*@
        @*                    </div>*@
        @*                    <a href="#"><img src="https://eaassets-a.akamaihd.net/origin-com-store-final-assets-prod/74369/231.0x326.0/1032110_LB_231x326_en_GB_%5E_2015-09-15-15-45-25_98b2647e9d55ea3ff1f046a67f9648da93422ce8.jpg" class="img-responsive deneme" /></a>*@
        @*                </div>*@
        @**@
        @*                <div class="laksProductDetails">*@
        @*                    <a href="#" class="laksProductTitle">Battlefield 1</a>*@
        @*                    <p class="laksProductPrice">*@
        @*                        $ 29.99 <a href="#"><i class="fa fa-shopping-cart" style="color: #207499; float: right"></i></a>*@
        @*                    </p>*@
        @*                </div>*@
        @*            </div>*@
        @*        </div>*@
        @*        <div class="item">*@
        @*            <div class="col-xs-12  col-md-12 box" style="padding: 0 !important; margin-left: 20px; margin-bottom: 30px">*@
        @*                <div class="detailsP">*@
        @*                    <div class="showLearn">*@
        @*                        <a href="#" class="btn btn-primary laksLearnMore">Learn More</a>*@
        @*                        <a href="#" class="laksLearnMore2"><i class="fa fa-shopping-cart fa-3x" style="color: #207499; float: right"></i></a>*@
        @*                    </div>*@
        @*                    <a href="#"><img src="https://eaassets-a.akamaihd.net/origin-com-store-final-assets-prod/190132/231.0x326.0/1026023_LB_231x326_en_US_%5E_2016-05-11-02-18-28_bb5bfaf422670d9addea7e8e790f09716120d7be.png" class="img-responsive deneme" /></a>*@
        @*                </div>*@
        @**@
        @*                <div class="laksProductDetails">*@
        @*                    <a href="#" class="laksProductTitle">Battlefield 1</a>*@
        @*                    <p class="laksProductPrice">*@
        @*                        $ 29.99 <a href="#"><i class="fa fa-shopping-cart" style="color: #207499; float: right"></i></a>*@
        @*                    </p>*@
        @*                </div>*@
        @*            </div>*@
        @*        </div>*@
        @*        <div class="item">*@
        @*            <div class="col-xs-12  col-md-12 box" style="padding: 0 !important; margin-left: 20px; margin-bottom: 30px">*@
        @*                <div class="detailsP">*@
        @*                    <div class="showLearn">*@
        @*                        <a href="#" class="btn btn-primary laksLearnMore">Learn More</a>*@
        @*                        <a href="#" class="laksLearnMore2"><i class="fa fa-shopping-cart fa-3x" style="color: #207499; float: right"></i></a>*@
        @*                    </div>*@
        @*                    <a href="#"><img src="https://eaassets-a.akamaihd.net/origin-com-store-final-assets-prod/76860/231.0x326.0/71779_LB_231x326_en_US_%5E_2013-01-18-08-59-41_842a1aba742dbcc03faa1acef2e1a0ff5a4d403a0d53e396f340193899a48316.jpg" class="img-responsive deneme" /></a>*@
        @*                </div>*@
        @**@
        @*                <div class="laksProductDetails">*@
        @*                    <a href="#" class="laksProductTitle">Battlefield 1</a>*@
        @*                    <p class="laksProductPrice">*@
        @*                        $ 29.99 <a href="#"><i class="fa fa-shopping-cart" style="color: #207499; float: right"></i></a>*@
        @*                    </p>*@
        @*                </div>*@
        @*            </div>*@
        @*        </div>*@
    </div>
</div>

@**@
@*<h2 style="padding-left: 20px"> Featured Theme Products</h2>*@
@*<hr/>*@
@*<div class="row" style="margin-bottom: 30px">*@
@*<div class="owl-carousel owl-theme">*@
@*    @foreach (var item in ViewBag.TProductTheme)*@
@*    {*@
@*        <div class="item">*@
@*            <div class="col-xs-12  col-md-12 box" style="padding: 0 !important; margin-left: 20px; margin-bottom: 30px">*@
@*                <div class="detailsP">*@
@*                    <div class="showLearn">*@
@*                        <a href="@Url.Action("Details","ProductTheme", new { id=item.ID })" class="btn btn-primary laksLearnMore">Learn More</a>*@
@*                        <a href="@Url.Action("OrderNow","ShoppingCart", new { id=item.ID })" class="laksLearnMore2"><i class="fa fa-shopping-cart fa-3x" style="color: #207499; float: right"></i></a>*@
@*                    </div>*@
@*                    <a href="@Url.Action("Details", "ProductTheme", new { id = item.ID })"><img src="http://lorempixel.com/145/205/" class="img-responsive deneme" /></a>*@
@*                </div>*@
@**@
@*                <div class="laksProductDetails">*@
@*                    <a href="#" class="laksProductTitle">@item.Title</a>*@
@*                    <p class="laksProductPrice">*@
@*                        $ @item.Price <a href="@Url.Action("OrderNow","ShoppingCart", new { id=item.ID })"><i class="fa fa-shopping-cart" style="color: #207499; float: right"></i></a>*@
@*                    </p>*@
@*                </div>*@
@*            </div>*@
@*        </div>*@
@*    }*@
@**@
@*</div>*@
@*    </div>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      *@

<script>
    window.onload = function () {
        $('.owl-carousel')
            .owlCarousel({
                loop: true,
                margin: 10,
                responsiveClass: true,
                nav: true,
                navText: ["<div style='width:30px;height:30px;border: 2px solid #303030;border-radius: 50px;'><i style='margin-top:6px;margin-right:1px;color:#8a8a8a' class='fa fa-chevron-left'></i></div>", "<div style='width:30px;height:30px;border: 2px solid #303030;border-radius: 50px;color:#8a8a8a;'><i style='margin-top:6px;margin-left:4px' class='fa fa-chevron-right'></i></div>"],
                autoplay: true,
                autoplayTimeout: 2000,
                autoplayHoverPause: true,
                stagePadding: 30,
                smartSpeed: 450,
                responsive: {
                    0: {
                        items: 2,
                        nav: true
                    },
                    400: {
                        items: 3,
                        nav: false
                    },
                    600: {
                        items: 4,
                        nav: false
                    },
                    700: {
                        items: 5,
                        nav: false
                    },
                    1000: {
                        items: 6,
                        nav: true,
                        loop: false,
                        margin: 20
                    },
                    1200: {
                        items: 7,
                        nav: true,
                        loop: false,
                        margin: 20
                    }
                }
            });
        /*$('.owl-carousel')
            .owlCarousel({
                items: 5,
                nav: true,
                navText: ["<div style='width:30px;height:30px;border: 2px solid #303030;border-radius: 50px;'><i style='margin-top:6px;margin-right:1px;color:#8a8a8a' class='fa fa-chevron-left'></i></div>", "<div style='width:30px;height:30px;border: 2px solid #303030;border-radius: 50px;color:#8a8a8a;'><i style='margin-top:6px;margin-left:4px' class='fa fa-chevron-right'></i></div>"],
                loop: true,
                autoplay: true,
                autoplayTimeout: 2000,
                autoplayHoverPause: true,
                margin: 30,
                stagePadding: 30,
                smartSpeed: 450,
                dots: false
            });*/
    }
</script>






        @Styles.Render("~/Content/HomeProduct")

