@using System.Web.UI.WebControls
@using SanalogMarket.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sanalog Market</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="/Content/OwlCarousel/owlcarousel/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="/Content/OwlCarousel/owlcarousel/assets/owl.theme.default.min.css" />
</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="container">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/Home/Index">Sanalog Market</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                    <ul class="nav navbar-nav">
                        @*                        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>*@
                        <li>
                            <a href="/ProductCode/New">SELL PRODUCT</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Action</a>
                                </li>
                                <li>
                                    <a href="#">Another action</a>
                                </li>
                                <li>
                                    <a href="#">Something else here</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">Separated link</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">One more separated link</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        @if (Session["UserName"] != null)
                        {
                            <li >@{
                            if (Session["cart"] == null)
                            {
                                <a href="/ShoppingCart/Index"><i class="glyphicon glyphicon-shopping-cart"></i> Cart : 0</a>
                            }
                            else
                            {
                                List<ProductCode> cart = (List<ProductCode>)Session["cart"];
                                <a href="/ShoppingCart/Index"><i class="glyphicon glyphicon-shopping-cart"></i> @cart.Count</a>
                        }
                            
                        } </li>
                            
                            
                            
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dear, @Session["Name"] Welcome! <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="/User/Profile">My Profile</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Logout", "Home")">Log out</a>
                                    </li>

                                </ul>
                            </li>
                            
                        }
                        else
                        {
                            <li >@{
                            if (Session["cart"] == null)
                            {
                                <a href="/ShoppingCart/Index"><i class="glyphicon glyphicon-shopping-cart"></i> Cart : 0</a>
                            }
                            else
                            {
                                List<ProductCode> cart = (List<ProductCode>)Session["cart"];
                                <a href="/ShoppingCart/Index"><i class="glyphicon glyphicon-shopping-cart"></i> @cart.Count</a>
                        }
                            
                        } </li>

                            <li>@Html.ActionLink("Login", "Login", "User")</li>
                            <li>@Html.ActionLink("Register", "Register", "User")</li>
                        }

                    </ul>
                </div>
            </div>
        </nav>


    </div>
</div>


<div class="container body-content" style="padding-top: 50px;">
    @RenderBody()

</div>

<br/><br/>
<br/>
<br/>

<hr/>
<footer style="background: #000000">
    <div class="container">
        <div class="row">
            <div class="col-lg-4" style="margin-top: 20px">
                <img src="/Images/laksLogo2.png" class="img-responsive" style="width: 40%"/>
                <h2 class="footerHeader">Meet Laks</h2>
                <p class="footerPlink"><a href="#" class="footerLink">About Laks</a></p>
                <p class="footerPlink"><a href="#" class="footerLink">Why buy with us</a></p>
                <p class="footerPlink"><a href="#" class="footerLink">Laks Careers</a></p>
                
                <h2 class="footerHeader">Need Help ?</h2>
                <p class="footerPlink"><a href="#" class="footerLink">Help Center</a></p>
                <p class="footerPlink"><a href="#" class="footerLink">Sanalog Market Terms</a></p>
                <p class="footerPlink"><a href="#" class="footerLink">Autor Terms</a></p>
                <p class="footerPlink"><a href="#" class="footerLink">Sanalog Markert Licanses</a></p>
                <p class="footerPlink"><a href="#" class="footerLink">Contact Laks</a></p>

                <div class="footerSocial">
                    <a href='http://twitter.com/' class="footerSocialLink" target='_blank' ><i class='fa fa-twitter fa-2x'></i></a>

                    <a href='http://www.facebook.com/' class="footerSocialLink" target='_blank'><i class='fa fa-facebook fa-2x'></i></a>

                    <a href='https://plus.google.com/'class="footerSocialLink"  target='_blank'><i class='fa fa-google-plus fa-2x'></i></a>

                    <a href='http://instagram.com/' class="footerSocialLink" target='_blank'><i class='fa fa-instagram fa-2x'></i></a>

                    <a href='https://www.tumblr.com/'class="footerSocialLink" target='_blank'><i class='fa fa-tumblr fa-2x'></i></a>
                </div>
            </div>
            <div class="col-lg-4" style="margin-top: 20px">
                <h2 class="footerHeader">Join our Community</h2>
                <p class="footerPlink"><a href="#" class="footerLink">Home</a></p>
                <p class="footerPlink"><a href="#" class="footerLink">Forums</a></p>
                <p class="footerPlink"><a href="#" class="footerLink">Become an Author</a></p>
                <p class="footerPlink"><a href="#" class="footerLink">Community Meetups</a></p>
                <p class="footerPlink"><a href="#" class="footerLink">Become an Affiliate</a></p>
                <div class="subscribe">
                    <div class="input-group input-group-lg" style="margin-top:15px">
                        <h2 class="footerHeader" style="text-align: center">Email Newsletters</h2>
                        <div class="footerSep"></div>
                        <input type="email" name="EMAIL" class="form-control footerInput" id="mce-EMAIL" placeholder="Email address...">
                        <button type="submit" name="subscribe" id="mc-embedded-subscribe" style="margin-top: 15px" class="btn btn-default">Subscribe!</button>

                    </div>
                </div>
            </div>
            <div class="col-lg-4" style="margin-top: 20px">
                <h2 class="footerHeader" style="text-align: center">News</h2>
                <div class="footerSep"></div>
                <div class="custom1 owl-carousel owl-theme">
                    <div class="item">
                        <p class="footerPlink" style="text-align: center"><a href="#" class="footerLink">Up uzun yollardan gelen herhangi bir içerik buraya yazılabilir</a></p>
                        <p class="footerLink" style="text-align: center; color: #f53644 !important;margin-top:15px">@DateTime.Now.Date.ToString("dd-MM-yyyy")</p>
                    </div>
                    <div class="item">
                        <p class="footerPlink" style="text-align: center;"><a href="#" class="footerLink">Up uzun yollardan gelen herhangi bir içerik buraya yazılabilir 2</a></p>
                        <p class="footerLink" style="text-align: center; color: #f53644 !important;margin-top: 15px">@DateTime.Now.Date.ToString("dd-MM-yyyy")</p>
                    </div>
                </div>
            </div>
        
        </div>
        <div class="row">
            <p class="footerLink" style="text-align: center">&copy; @DateTime.Now.Year - Sanalog Market Place</p>
        </div>
</div>
    
</footer>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
    <script src="/Content/OwlCarousel/owlcarousel/owl.carousel.js"></script>
    <script src="/Content/OwlCarousel/vendors/highlight.js"></script>
<script src="/Content/OwlCarousel/js/app.js"></script>
<script>
    $(document).ready(function () {
        $('.custom1').owlCarousel({
            items: 1,
            nav: true,
            navText: ["<div style='width:30px;height:30px;border: 2px solid #303030;border-radius: 50px;'><i style='margin-top:6px;margin-right:1px;color:#8a8a8a' class='fa fa-chevron-left'></i></div>", "<div style='width:30px;height:30px;border: 2px solid #303030;border-radius: 50px;color:#8a8a8a;'><i style='margin-top:6px;margin-left:4px' class='fa fa-chevron-right'></i></div>"],
            loop: true,
            autoplay: true,
            autoplayTimeout: 2000,
            autoplayHoverPause: true,
            margin: 30,
            stagePadding: 30,
            smartSpeed: 450,
            dots:false
        });
    });
</script>
</body>
</html>