@using System.Web.UI.WebControls
@using SanalogMarket.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sanalog Market</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="container">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/Home/Index">Sanalog Market</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                    <ul class="nav navbar-nav">
                        @*                        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>*@
                        <li>
                            <a href="/Home/SellProduct">SELL YOUR PRODUCT!</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Action</a>
                                </li>
                                <li>
                                    <a href="#">Another action</a>
                                </li>
                                <li>
                                    <a href="#">Something else here</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">Separated link</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">One more separated link</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        @if (Session["UserName"] != null)
                        {
                            <li >@{
                            if (Session["cart"] == null)
                            {
                                <a href="/ShoppingCart/Index"><i class="glyphicon glyphicon-shopping-cart"></i> Cart : 0</a>
                            }
                            else
                            {
                                List<ProductCode> cart = (List<ProductCode>)Session["cart"];
                                <a href="/ShoppingCart/Index"><i class="glyphicon glyphicon-shopping-cart"></i> @cart.Count</a>
                        }
                            
                        } </li>
                            
                            
                            
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dear, @Session["Name"] Welcome! <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="/User/Profile">My Profile</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Logout", "Home")">Log out</a>
                                    </li>

                                </ul>
                            </li>
                            
                        }
                        else
                        {
                            <li >@{
                            if (Session["cart"] == null)
                            {
                                <a href="/ShoppingCart/Index"><i class="glyphicon glyphicon-shopping-cart"></i> Cart : 0</a>
                            }
                            else
                            {
                                List<ProductCode> cart = (List<ProductCode>)Session["cart"];
                                <a href="/ShoppingCart/Index"><i class="glyphicon glyphicon-shopping-cart"></i> @cart.Count</a>
                        }
                            
                        } </li>

                           
                            <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
			<ul id="login-dp" class="dropdown-menu">
				<li>
					 <div class="row">
							<div class="col-md-12">
								Login via
								<div class="social-buttons">
									<a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
									<a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
								</div>
                                or
								 <form class="form" role="form" method="post" action="/User/Login" accept-charset="UTF-8" id="login-nav">
										<div class="form-group">
                                            <label class="sr-only" for="Username">Username</label>
                                            <input class="form-control" data-val="true" placeholder="Username" data-val-required="Username is required" id="Username" name="Username" type="text" value="">
										</div>
										<div class="form-group">
                                            <label class="sr-only" for="Password">Password</label>
                                            <input class="form-control" data-val="true" placeholder="Password" data-val-required="Password is required" id="Password" name="Password" type="password" value="">
                                             <div class="help-block text-right"><a href="">Forget the password ?</a></div>
										</div>
										<div class="form-group">
											 <button type="submit" class="btn btn-primary btn-block">Sign in</button>
										</div>
										<div class="checkbox">
											 <label>
											 <input type="checkbox"> keep me logged-in
											 </label>
										</div>
								 </form>
							</div>
							<div class="bottom text-center">
								New here ? <a href="/User/Register"><b>Join Us</b></a>
							</div>
					 </div>
				</li>
			</ul>
        </li>
                            
                            
                            
                            
                            
                            
                            
                            
                            <li>@Html.ActionLink("Register", "Register", "User")</li>
                        }

                    </ul>
                </div>
            </div>
        </nav>


    </div>
</div>


<div class="container body-content" style="padding-top: 50px;">
    @RenderBody()

</div>

<br/><br/>
<br/>
<br/>

<hr/>
<footer>
    <p class="alert-success">&copy; @DateTime.Now.Year - Sanalog Market Place</p>
</footer>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>