@model IEnumerable<SanalogMarket.Models.Category>

@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<p>
    @Html.ActionLink("Create New", "CreateCategory")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "CatEdit", new { id=item.ID }) |
            @Html.ActionLink("Delete", "CatDelete", new { id=item.ID })
        </td>
    </tr>
}

</table>
